################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BinaryTreeExcercises/.vs/BinaryTreeExcercises/DesignTimeBuild/.dtbcache.v2
